<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo de correo en Django</title>


</head>

<body>
    <div>

        <h4>Formulario 1 - Ingresar email</h4>
        <p>En este formulario se ingresa la direccion para recibir un codigo de validacion.</p>
    </div>

    <div>
        <form action="" method="post">
            {% csrf_token %}
            <div>
                <input type="text" name="email" placeholder="Enter your email" required="required">
            </div><br>
            <button type="submit">Solicitar codigo</button>
        </form>
    </div>

</body>

</html>