<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo de correo en Django</title>


</head>

<body>
    <div>

        <h4>Formulario 2 - Ingresar el codigo recibido</h4>
        <p>En este formulario se ingresa el codigo recibido por correo electronico.</p>
    </div>

    <div>
        <form action="" method="post">
            {{error}}
            {% csrf_token %}
            <div>
                <input type="number" name="verifica" placeholder="Ingresa el codigo" required="required">
            </div><br>
            <button type="submit">Solicitar verificacion</button>
        </form>
    </div>

</body>

</html>